<!DOCTYPE html>
<html>
<head>
  <title>CtaRidership</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to('Home', routes_path) %>
  <%= link_to('Routes ranked', routes_ranked_path) %>
  <%= link_to('All stops', stops_path) %>
  <%= yield %>

</body>
</html>
